---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MyGoldIRA - About Us">
	<main>
		<div class="main-container r100vw flex-wrapper">
		<section style="margin-bottom:20px!important;">
			<div>
			  <div class="bodyclass" style="max-width:600px!important; margin: auto;">
				<h2 class="content-1">About Us</h2>
				<br>
				<br>
				<p><strong>My Gold IRA  is dedicated to bringing you the absolute best solutions for diversifying and protecting your wealth portfolio in these troubled times.</strong></p><br>
				<p style="padding-left:20px;">We understand the role that gold and especially silver will play in the upcoming reset of the world financial system. A time is coming when fiat money will be worthless and phased out by the central banks of the world. The World Economic Forum (WEF) has already laid out the blueprint along with the IMF and World Bank, to replace national currencies with digital versions that run on blockchain and similar technology. These are known as CBDCs or Central Bank Digital Currencies.<br><br>Physical money will be recalled by the banks and credits in the new digital dollar will be issued. This new money will be tied in part and backed by gold. Gold will once again play a major role in our money system. When you start a new currency, you need trust. This is why gold will be re-introduced as a partial backing - a bundle of underlying assets. Silver too will play a major role going forward in industry, as it is the best conductor of electricity we have. Its in short supply and hot demand right now.<br><br>So as you no doubt can see in the news, we are rapidly approaching a turning point in our global economy where we may see a black swan event that will trigger the collapse. Once this has happened it will be too late to restructure your IRA or 401k. Please do yourself a favor and set things in motion now with the information on this site. Within as little as two weeks you can have real gold and real physical silver as part of your new self directed IRA.<br><br>We are proud to bring you this much needed service at this time. If you have any questions please email us at the <a href="https://mygoldira.us/contact.html">contact page</a>
				 

					</div>
				</div>
			</section>
			<Footer />
		</div>
	
		
	</main>
</Layout>

<style>

.bodyclass {
			padding:20px;
		}

		.bodyclass h2 {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.width-max {
			width: 100vw!important;
			max-width: 900px;
			margin: auto;
		}
		@media (min-width: 220px) and (max-width: 700px) {
			.width-max {
			font-size: 1.0rem!important;
		}
		}

	.main-container {
		font-weight: 500!important;
	}
	.main-container p {
		padding: 15px 0px;
	}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

</style>
