---
import Layout from '../layouts/Layout.astro';

---

<Layout title="MyGoldIRA - Enter A Lead Manually">
	<main>
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeHDxrTqByC4bjM7X9G5JPche_c6mYt8YXUgWnovw3W_kt4Bw/viewform?embedded=true" width="640" height="1543" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>	
	</main>
</Layout>

<style>

</style>
