---
import Layout from '../layouts/Layout.astro';

import Footer from '../components/Footer.astro';
import Features from  '../components/Features.astro';
import Quotes from  '../components/Quotes2.astro';
import Hero from '../components/Hero.astro';
import Testimonials from '../components/Testimonials.astro';
import Ratings from '../components/Ratings.astro';
---

<Layout title="MyGoldIRA">
	<main>
		<div class="main-container r100vw">
			<div class="section-holder" style="overflow-x:hidden;">
			  <Hero />
			  <Quotes />
			  <Features />
			  
			  <Testimonials />
			  <Ratings />
			  
			  <div class="popup-holder"></div>
			</div>
			
		  </div>
		  <Footer />	
	</main>
	<script is:inline>
		window.clickmagick_cmc = {
			uid: '173939',
			hid: '1905123245',
			cmc_project: 'mygoldira',
			audopt_pro: 'on',
		}
	</script>
	<script client:load src='https://cdn.clkmc.com/cmc.js'></script>
</Layout>

<style>

</style>
