---
import Layout from '../layouts/Layout.astro';
import Wistia from '../components/Wistia.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MyGoldIRA">
	<main>
		<div class="main-container r100vw">
			<div class="section-holder" style="overflow-x:hidden;">
			  <div>
				<div id="e804f259-5131-4f97-84b2-6f937bedbe07-multistep" data-id="e804f259-5131-4f97-84b2-6f937bedbe07-multistep" class="multi-section-holder" style="width:100%;overflow:hidden;">
				  <div id="mgi-logo" style="display:flex;  width: 100%;  margin: auto;padding-left: 8px; padding-top: 5px;position:absolute;
									">
					<img src="images/mgi-large-logo.png" loading="lazy" class="  image-width-10" style=" position:absolute;
									   z-index:12!important; min-height: 95px!important; min-width: 95px!important;">
				  </div>
				  <section data-id="Hy3o6wVsV" class="section-blank  header multi-step-section" style="min-height:1470px; margin-bottom:0px;">
					<div id="Hy3o6wVsV" class="layout-media" style="width:100%;  height: 1470px;">
					  <div class="layout-media-image lazyloaded"></div>
					  <!-- start of content in hero section -->
					  <div style="display:flex; justify-content: space-around; max-width: 1300px; margin: auto; flex-wrap:wrap; padding: 0px">
						<div>
						  <section>
							<div id="vidContainer" class="vidContainer-bgnd ">
							  <div class="">
								<div class="">
								  <div class="">
									<div id="" class=""></div>
									<div id="" style="" class="">
									  <div class="">
										<div>
										  <div class="join-americans unselectable">Join over 6,500 other Americans</div>
										  <h1 class="gam-blue unselectable mobile">
											<span style="letter-spacing:-3px;">The Smart Money is in a <span style="color:#cc8200;"><br class="break-headline" style="display:none;"/>GOLD IRA</span>
											</span>
										  </h1>
										  <p class="text-center unselectable text-lg">
											<span style="color:rgba(48, 74, 115, 1);">
											  <strong>Back your IRA with physical gold and <br class="break-usdollarinflation" style="display:none;"/>survive US dollar inflation.</strong>
											</span>
										  </p>
										  <!-- <p class="text-center unselectable">
											<span style="color:rgba(48, 74, 115, 1);">
											  <strong>Fast & Easy Process. Highest Rated In Industry.</strong>
											</span>
										  </p> -->
										  <div class="mt-0">
											<Wistia />
										  </div>
										</div>
									  </div>
									</div>
									<div id="watch-this" class="" style="margin-bottom: var(--spacing-bottom);">
									  <div>
										<img src="./images/watch-with-sound.png" loading="lazy" class="image-element  class-10004dc8-6709-4ce3-a5c1-2cc7dfb988bd image-width-100" style="border-radius: 7%;">
									  </div>
									</div>
									<div class="container-fluid" id="" style="margin-bottom: var(--spacing-bottom);"></div>
								  </div>
								</div>
							  </div>
							</div>
						  </section>
						</div>
						<div>
						  <section class="text-gray-600 body-font relative ml-1 mr-1 mt-10 pt-10">
							<form name='myForm' method="GET" id="myForm" autocomplete="off">
							  <!-- <input type="hidden" id="leadSource" name="leadSource" value="mygoldira-us-fb-vid-1"> -->
							  <div class="  mt-10  mx-auto flex" style="">
								<div id="formContainer" class=" bg-[var(--formcolor)]   rounded-lg p-4 flex flex-col  relative z-10 shadow-md">
								  <h2 class="headline unselectable">Get your free <br class="break-subheadline" style="display:none;"/>Gold IRA kit</h2>
								  <p class="text-center leading-relaxed mb-5 text-gray-600 garamond tight text-md unselectable">+ FREE specialist consultation</p>
								  <div class="relative mb-4">
									<label for="firstname" class="leading-7 text-sm text-gray-600 unselectable">First Name</label>
									<input value="" type="text" pattern="..+" required id="firstname" name="firstname" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500 focus:ring-3 focus:ring-yellow-200  text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
									<span class="validity"></span>
								  </div>
								  <div class="relative mb-4">
									<label for="lastname" class="leading-7 text-sm text-gray-600 unselectable">Last Name</label>
									<input value="" type="text" pattern="..+" required id="lastname" name="lastname" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500 focus:ring-3 focus:ring-yellow-200  text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
									<span class="validity"></span>
								  </div>
								  <div class="relative mb-4">
									<label for="email" class="leading-7 text-sm text-gray-600 unselectable">Email</label>
									<input value="" type="email" pattern="..+@..+\...+" required id="email" name="email" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500  focus:ring-3 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
									<span class="validity"></span>
								  </div>
								  <div class="relative mb-4">
									<label for="phone" class="leading-7 text-sm text-gray-600 unselectable">Phone <span class="form-instructions unselectable">(10 digits)</span>
									</label>
									<input value="" type="tel" pattern="[0-9]{10}" minlength="10" maxlength="10" required id="phone" name="phone" class="w-full  border-2 border-[var(--bordercolor)] focus:border-yellow-500  focus:ring-3 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
									<span class="validity"></span>
								  </div>
								  <div class="checkbox-container " style=" ">
									<input type="checkbox" id="i-have-ira" name="ihaveira" class=" text-gray-700  checkbox" style="width:50px!important;">
									<label for="ihaveira" class="checkbox-label  text-gray-600 unselectable" style=" ">I have an IRA worth $100k or more</label>
								  </div>
								  <div class="  checkbox-container" style=" ">
									<input type="checkbox" id="i-have-401" name="ihave401" class="checkbox" style="">
									<label for="ihave401" class="checkbox-label  unselectable">I have $100k+ in 401k (past employer)</label>
								  </div>
								  <!-- <div class="  checkbox-container" style=" "><input  checked type="checkbox" id="i-have-401" name="otp" class="   checkbox" style="   "><label  for="otp" class="checkbox-label   unselectable" style="">I agree to receive SMS for One-Time Passwords</label></div> -->
								  <button class="unselectable  shadow-sm shadow-gray-700/30 bg-[var(--themecolor)] border-0 mt-5 py-2 px-6 focus:outline-none hover:bg-[#333] hover:text-[#FFF] rounded-lg text-lg submit-button " id="mySubmit" type="submit" style="width: 80%;margin:auto;margin-top:10px;height:40px; color: white;">Download</button>
								</div>
							  </div>
							</form>
						  </section>
						</div>
					  </div>
					</div>
					<div class="" style="background:#E6DED300;padding-top:270px;padding-left:0px;padding-bottom:400px;padding-right:0px;">
					  <div class="container-fluid class-Hy3o6wVsV">
						<div class="row">
						  <div class="col-xs-12 col-md-3">
							<div class="col-box">
							  <div class="col-box-content ap-bdf80bd3-1de6-4c2c-aebe-de37aaca5524"></div>
							</div>
						  </div>
						  <!-- top section here -->
						  <div class="col-xs-12 col-md-3">
							<div class="col-box">
							  <div class="col-box-content ap-da959123-8c00-46a9-b57a-8a523633e844"></div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </section>
				</div>
				<!---->
			  </div>
			  <section data-id="BJjo-ONi4" class="pricing-one light-background  header">
				<div id="BJjo-ONi4" class="layout-media">
				  <div class="layout-media-image lazyloaded" style="background-attachment:fixed;background-image:url();"></div>
				  <div class="layout-media-video"></div>
				</div>
				<div class="layout-content layout-content" style="background:#E6DED3FF;padding-top:100px;padding-left:0px;padding-bottom:100px;padding-right:0px;">
				  <div class="container class-BJjo-ONi4">
					<div class="row">
					  <div class="col-xs-12 col-md-12">
						<div class="col-box">
						  <div class="col-box-content ap-S1fsjWOVoV">
							<div id="" class="">
							  <div class="ck ck-editor-project">
								<div>
								  <h2 style="text-align:center;" class="gam-blue unselectable mobile">
									<strong>Get peace of mind knowing your retirement is safe!</strong>
								  </h2>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="col-xs-12 col-md-4">
						<div class="col-box">
						  <div class="col-box-content ap-SJNso-d4s4">
							<div id="" class="" style="margin-bottom: 60px;">
							  <div>
								<img src="/images/retiree.jpg" loading="lazy" class="image-element  class-10004dc8-6709-4ce3-a5c1-2cc7dfb988bd image-width-100" style="border-radius: 7%;">
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="col-xs-12 col-md-4">
						<div class="col-box">
						  <div class="col-box-content ap-rJqsiZOVo4">
							<div class="text-icon-container ">
							  <div class="text-icon">
								<div class="text-icon-inline">
								  <div>
									<i class="campaign-general-color-text fa-fw icon fas fa-hands-helping" style="color: rgb(48, 74, 115); font-size: 40px;"></i>
								  </div>
								</div>
								<div class="text-icon-content">
								  <div class="">
									<div class="ck ck-editor-project unselectable">
									  <div>
										
										
										<h2>
										  <strong>Safe and Secure</strong>
										</h2>
										
										<p>Make sure your retirement savings are safe and secure in physical gold.</p>
										
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<div class="text-icon-container ">
							  <div class="text-icon">
								<div class="text-icon-inline">
								  <div>
									<i class="campaign-general-color-text fa-fw icon fas fa-donate" style="color: rgb(48, 74, 115); font-size: 40px;"></i>
								  </div>
								</div>
								<div class="text-icon-content">
								  <div class="">
									<div class="ck ck-editor-project unselectable">
									  <div>
										
										<h2>
										  <strong>Invest In A Real Commodity</strong>
										</h2>
										
										<p>In times of uncertainty, precious metals hold their value.</p>
										
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="col-xs-12 col-md-4">
						<div class="col-box">
						  <div class="col-box-content ap-ryylijWOVoE">
							<div class="text-icon-container ">
							  <div class="text-icon">
								<div class="text-icon-inline">
								  <div>
									<i class="campaign-general-color-text fa-fw icon fas fa-chart-line" style="color: rgb(48, 74, 115); font-size: 40px;"></i>
								  </div>
								</div>
								<div class="text-icon-content ">
								  <div class="">
									<div class="ck ck-editor-project unselectable">
									  <div>
										
										<h2>
										  <strong>Hedge Against Inflation</strong>
										</h2>
										
										<p>Don't let inflation erode your retirement savings.</p>
										
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<div class="text-icon-container ">
							  <div class="text-icon">
								<div class="text-icon-inline">
								  <div>
									<i class="campaign-general-color-text fa-fw icon fas fa-comments-dollar" style="color: rgb(48, 74, 115); font-size: 40px;"></i>
								  </div>
								</div>
								<div class="text-icon-content ">
								  <div class="">
									<div class="ck ck-editor-project unselectable">
									  <div>
										
										<h2 style="font-weight:bold">Easy To Sell</h2>
										
										<p>Precious metals are easy to liquidate for fair market value when needed.</p>
										
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  
				  <p class="text-center  unselectable" style="padding-top:50px; padding-left:20px;padding-right:20px; padding-bottom:40px;color:#777; font-weight:bold;">My Gold IRA recognizes Augusta Precious Metals as the most highly customer reviewed and rated IRA custodian in the United States</p>
				  <!-- logos go here -->
				  <div class="flex mt-5 flex-wrap justify-center space-x-2 > * + * " style="max-width:800px!important;margin:auto;">
					<div class="px-4 py-4">
					  <img src="images/logo-bbb.png" loading="lazy" class="" style="height:60px">
					</div>
					<div class="px-4 py-4">
					  <img src="images/logo-bca.png" loading="lazy" class="" style="height:60px">
					</div>
					<div class="px-4 py-4">
					  <img src="images/logo-trustlink.png" loading="lazy" class="" style="height:60px">
					</div>
					<div class="px-4 p-4 mt-1">
					  <img src="images/logo-google.png" loading="lazy" class="" style="height:50px; ">
					</div>
					<div class="px-4 py-4 mt-2">
					  <img src="images/logo-fb.png" loading="lazy" class="" style="height:30px">
					</div>
					<div class="px-4 py-4">
					  <img src="images/logo-nea.png" loading="lazy" class="" style="height:60px">
					</div>
					<div class="px-4 py-4">
					  <img src="images/logo-ca.jpeg" loading="lazy" class="" style="height:60px">
					</div>
					<div class="px-4 py-4">
					  <img src="images/logo-most-trusted.png" loading="lazy" class="" style="height:60px">
					</div>
				  </div>
			  </section>
			  <section data-id="Sy9iDOViV" class="section-blank  header">
				<div id="Sy9iDOViV" class="layout-media">
				  <div class="layout-media-image lazyloaded" style="background-image:url();"></div>
				  <div class="layout-media-video"></div>
				</div>
				<div class="layout-content layout-content" style="background:rgba(247,247, 246, 1);padding-top:100px;padding-left:0px;padding-bottom:0px;padding-right:0px;">
				  <div class="container class-Sy9iDOViV">
					<div class="row">
					  <div class="col-xs-12 col-md-12">
						<div class="col-box">
						  <div class="col-box-content ap-rJMqsPdVjN">
							<div id="" class="">
							  <div class="ck ck-editor-project">
								<div>
								  <h2 style="text-align:center;" class="gam-blue unselectable mobile">
									<strong>What our customers are saying</strong>
								  </h2>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </section>
			  <section data-id="BkmfLuNjV" class="section-blank  header unselectable">
				<div id="BkmfLuNjV" class="layout-media">
				  <div class="layout-media-image lazyloaded" style="background-image:url();"></div>
				  <div class="layout-media-video"></div>
				</div>
				<div class="layout-content layout-content" style="background:rgba(247,247, 246, 1);padding-top:50px;padding-left:0px;padding-bottom:100px;padding-right:0px;">
				  <div class="container class-BkmfLuNjV">
					<div class="row">
					  <div class="col-xs-12 col-md-6 mb-20">
						<div class="col-box">
						  <div class="col-box-content ap-rJM7M8dNsV">
							<div id="" class="customer-icon">
							  <div>
								<img src="images/hamptons.jpg" loading="lazy" class="image-element  class-SkWWdONi4 image-width-200" style="display: block; margin: 0px auto; border-radius: 50%;">
							  </div>
							</div>
							<div id="" class="">
							  <div class="ck ck-editor-project">
								<div>
								  <p style="text-align:center;">&nbsp;</p>
								  <p style="text-align:center;">
									<i>"My Gold IRA helped me connect with</i>
								  </p>
								  <p style="text-align:center;">
									<i>&nbsp;the right Gold IRA company. I got the right advice</i>
								  </p>
								  <p style="text-align:center;">
									<i>&nbsp;from the right people. I couldn't be happier."</i>
									<br>&nbsp;
								  </p>
								</div>
							  </div>
							</div>
							<div id="" class="">
							  <div class="ck ck-editor-project">
								<div>
								  <p style="text-align:center;">
									<strong>Ben Wood</strong>
								  </p>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="col-xs-12 col-md-6">
						<div class="col-box">
						  <div class="col-box-content ap-H17mM8_VoN">
							<div id="" class="customer-icon">
							  <div>
								<img src="images/margot.jpg" loading="lazy" class="image-element  class-ryJ7dOEsN image-width-20" style="display: block; margin: 0px auto; border-radius: 50%;">
							  </div>
							</div>
							<div id="" class="">
							  <div class="ck ck-editor-project">
								<div>
								  <p style="text-align:center;">&nbsp;</p>
								  <p style="text-align:center;">
									<i>"Since my husband passed, I have been</i>
								  </p>
								  <p style="text-align:center;">
									<i>&nbsp;worried about my retirement. I now feel very confident</i>
								  </p>
								  <p style="text-align:center;">
									<i>&nbsp;about the future with a Gold IRA."</i>
									<br>&nbsp;
								  </p>
								</div>
							  </div>
							</div>
							<div id="" class="">
							  <div class="ck ck-editor-project">
								<div>
								  <p style="text-align:center;">
									<strong>Nancy Lee</strong>
								  </p>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </section>
			  <Footer />
			  <div class="popup-holder"></div>
			</div>
		  </div>	
	</main>
</Layout>

<style>

</style>
