---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MyGoldIRA - Privacy">
	<main>
		<div class="main-container r100vw flex-wrapper">
			<section style="margin-bottom:20px!important;">
				<div>
				  <div class="bodyclass" style="max-width:600px!important; margin: auto;">
					<h2 class="content-1">Privacy</h2>
						   
						<p>Last Updated: Oct 31, 2022</p>
			  
						<h2>WHAT THIS PRIVACY NOTICE COVERS</h2>
						
						<p>My Gold IRA is dedicated to protecting your privacy and safeguarding your personally identifiable information. We are committed to adhering to the principles of applicable data protection and privacy laws.</p>
						
						<p>My Gold IRA respects your privacy and is committed to protecting it through compliance with this notice. This notice describes the types of information we may collect from you or that you may provide when you visit the website MyGoldIRA.us (our &quot;Website&quot;) or when you opt into receiving text or email messages from us (Electronic Messaging) and our practices for collecting, using, maintaining, protecting, and disclosing that information. The Website and Electronic Messaging are collectively referred to in this notice as the Services. This notice applies to information we collect (i) on the Website; (ii) in email, text, and other electronic messages between you and us; and (iii) when you interact with our advertising on other My Gold IRA websites or third-party websites and services. Please read this notice carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use the Services. By using the Services, you agree to this privacy policy. This policy may change from time to time. Your continued use of the Services after we make changes is deemed to be acceptance of those changes, so please check the notice periodically for updates.</p>
						
						<h2> TYPES OF INFORMATION WE COLLECT</h2>
						
						<p>We collect several types of information from and about users of our Services, including information: (i) by which you may be personally identified, such as name, address, email address, telephone number, and, if you make a purchase, we may collect your social security number and financial/banking and/or billing and credit card information (collectively, Personal Information); (ii) that is about you but individually does not identify you, such as your age or gender; (iii) about your internet connection, the equipment you use to access the Services, and usage details. We collect this information: (i) directly from you when you provide it to us; and (ii) automatically as you navigate through the Services. Information collected automatically may include usage details, IP addresses, and information collected through cookies and other tracking technologies. The information we collect on or through our Website may include: (i) information that you provide by filling in forms on our Website; (ii) records and copies of your correspondence; and (iii) details of transactions you carry out with us or the fulfillment of your orders. As you navigate through and interact with our Services, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including: (i) details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website; and (ii) information about your computer and internet connection, including your IP address, operating system, and browser type. We also may use these technologies to collect information about your online activities over time and across third-party websites or other online services (behavioral tracking).</p>
						
						<h2> ONLINE TRACKING</h2>
						
						<p>If you choose not to provide requested information, you may not be able to use some of the features of the Services. My Gold IRA does not respond to web browser &ldquo;do not track&rdquo; signals or other mechanisms that provide consumers the ability to exercise choice about behavioral tracking.</p>
						
						<h2> PURPOSE OF COLLECTION &amp; USE</h2>
						
						<p>We use and share the Personal Information and other information collected (unless otherwise restricted by applicable law):</p>
						
						<p>- to operate, provide, and enhance the Services and to provide the products, information and services you request or sign up for through the Services or that may be of interest to you. For example, we will use your Personal Information to contact you with respect to information you requested or with respect to offering or providing the Services, for any administrative, maintenance and customer service purposes, to facilitate a third party&rsquo;s provision of services you request, such as third-party LLC set-up services or third-part custodian services, and to address issues such as intellectual property infringement, rights of privacy, or defamation claims;</p>
						
						<p>- to track and analyze your usage trends and preferences in order to improve the Website and Services;</p>
						
						<p>- to personalize our Services and to monitor the operation and effectiveness of the Services;</p>
						
						<p>- to analyze aggregate Website usage metrics;</p>
						
						<p>- to provide you with customized third party content, and information;</p>
						
						<p>- to send you messages, including to notify you about changes to our Services or any products or services we offer or provide through the Services and promotional messages related to the Services and of third parties we work with. You will have the ability to opt-out of receiving any such communications, through links provided in the messages;</p>
						
						<p>- to engage in transactions with you and to carry out our obligations and enforce our rights arising from any contracts entered into between you and us;</p>
						
						<p>- to respond to your requests;</p>
						
						<p>- we may share your Personal Information with other selected third parties, affiliates and subsidiaries that offer complementary products or services. In such an event, please review that company&rsquo;s privacy policy regarding any further interactions with them;</p>
						
						<p>- to obtain third party services from those who provide services to us, such as analytics, web site management, payment processing, information technology and related infrastructure, customer service, e-mail delivery, auditing, and other similar services. When we share Personal Information with third party service providers, we require that they use your Personal Information only for the purpose of providing services to us and subject to terms consistent with this Policy;</p>
						
						<p>- to work with third party companies to help us tailor advertising that we think may be of interest to you based on your use of the Website and to otherwise collect and use data about your use of the Website. These companies may deliver ads that might also place cookies and otherwise track user behavior. These companies may use information about user behavior in order to provide customized advertisements across various websites, services and products. In the course of providing these websites, services, products or placing advertisements, these third party companies may place or recognize a unique cookie on your computer, and may record information to these cookies based upon your activities on our Website and on third party websites. Each of these companies use this cookie information according to their own privacy and security policies. If you do not wish to have this information used for the purpose of serving you targeted ads, you may opt-out as indicated in below. Please note this does not opt you out of being delivered advertising. You will continue to receive generic ads;</p>
						
						<p>- as we believe to be necessary or appropriate to protect the health and safety of our employees and operations or the employees or operations of any of our third party service providers;</p>
						
						<p>- as we believe to be necessary or appropriate: (a) under applicable law, including laws outside your country of residence; (b) to comply with legal process; (c) to respond to requests from public and government authorities, including public and government authorities outside your country of residence, for national security and/or law enforcement purposes; (d) to enforce our terms and conditions; and (e) to allow us to pursue available remedies or limit the damages that we may sustain. Additionally, in the event of a reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our business, assets or stock (including in connection with any bankruptcy or similar proceedings), we may transfer the Personal Information we have collected to the relevant third party.</p>
						
						<p>We may use, transfer, and disclose other information we collect for any purpose, except where applicable law requires otherwise. If we are required to treat other information as Personal Information under applicable law, then we will only use it in the same way that we are permitted to use and disclose Personal Information.</p>
						  
						<p>Data obtained through the short code program will not be shared with any third-parties for their marketing reasons/purposes.</p>
						
						<h2>COLLECTION OF INFORMATION</h2>
						
						<p>Direct Interactions: From your use of and interaction with us through the Services and other activities such as submission of forms.</p>
						
						<p>Electronic Communications Protocols: We may automatically receive information from you as part of the communication connection itself, which often consists of network routing information (where you came from), equipment information (browser type or device type), your IP address (which may identify your general geographic location or company), and date and time.</p>
						
						<p>We may also automatically receive and record information about your interaction with the Services, such as how often you access the Services, performance data, aggregate usage, or general geo-location data.</p>
						
						<p>Cookies: We may use cookies. A cookie is a small piece of information sent by a web server to store on a web browser so it can later be read back from that browser. Cookies may collect information, including a unique identifier, user preferences, profile information, membership information, and general usage and volume statistical information. Cookies may also be used to collect individualized web site use data, provide Website personalization, or conduct and measure the effectiveness of advertising in accordance with this Policy. Some cookies may remain on users' computers after they leave the Website. While many are set to expire within 1-24 months of your last visit to the website that set the cookie, others may not expire because of their nature, like cookies that remember opt-out preferences.</p>
						
						<p>Your browser may provide you with information and control over cookies. You can set your browser to alert you when a cookie is being used, and accept or reject the cookie. You can also set your browser to refuse all cookies or accept only cookies returned to the originating servers. Users can generally disable the cookie feature on their browser. Cookies, however, are important to the proper functioning of a site, and disabling them may degrade your experience and interfere with Website features and customizations.</p>
						
						<p>We may engage one or more third party service providers to track and analyze both individualized usage and volume statistical information from interactions with the Website. The service provider(s) may set cookies on our behalf. We may also use third party cookies to provide advertising and personalization services in accordance with this Policy, and to track the performance of our advertisements and emails.</p>
						
						<p>Managing Cookie Preferences: Your browser should allow you to access or change your cookie preferences at any time.</p>
						
						<p>Flash Cookies: We may use Flash cookies, also known as &quot;local shared objects,&quot; on our Website that employ Flash technology. Flash cookies are used to remember the Website&rsquo;s settings to personalize the look and feel of the Website. Like normal cookies, Flash cookies are represented as small files on your computer. You may be able to prevent Flash cookies from being placed by adjusting your browser&rsquo;s settings.</p>
						
						<p>Embedded URLs: We may use a tracking technique that employs embedded URLs to allow use of the Website without cookies. Embedded URLs allow limited information to follow you as you navigate the Website, but are not associated with Personal Information and are not used beyond the session.</p>
						
						
						<p>Embedded Pixels and Similar Technologies: We may use embedded pixel technologies for the purposes of identifying unique user visits (as opposed to aggregate hits), and for advertising purposes. In addition, embedded pixels or other technologies may be used in e-mails and our online display advertising to provide information on when the e-mail or ad was opened to track marketing campaign responsiveness; information collected using these technologies may be associated with your e-mail address.</p>
						
						<p>Physical Location: We may collect and share the physical location of your device for purposes consistent with this Policy, such as to provide you with personalized location-based services or content. In some instances, you may be permitted to allow or deny such use of your device's location, but if you choose to deny such use, we may not be able to provide you with the applicable personalized services or content.</p>
						
						<h2> PREFERENCES AND OPT-OUT</h2>
						
						<p>You may opt out of e-mail marketing by using our general unsubscribe automated link that is included in our marketing e-mails. If you have any problems using any of these opt-out mechanisms, please contact us.</p>
						
						<p>Some non-marketing communications are not subject to general opt-out, such as communications related to customer services and disclosures to comply with legal requirements.</p>
						
						<p>If you do not want us to use your Personal Information to notify you of products or services of interest to you or if you do not want us to share your Personal Information with selected third parties, affiliates and subsidiaries, please opt out by contacting us via the contact information provided in this privacy policy. If you have consented to receiving text messages or auto-dialed telephone calls from us, you may revoke that consent by writing, emailing, or calling us at the contact information provided in this privacy policy or by any other reasonable means.</p>
						
						<p>Cookies and Do Not Track Preferences. You may opt out of cookies by using your browser settings. We do not process or recognize any Do Not Track signals.</p>
						
						<p>Information-Sharing Choices. We may only share Personal Information with selected companies after providing you the ability to make choices about the sharing, or as otherwise described in this Policy. There are limitations to opting out of such sharing in the case of: (1) where you have previously requested the sharing of your Personal Information with these companies; (2) where third parties are required to perform a service in connection with our provision of Services to you; and (3) where required by law.</p>
						
						<h2> ACCESS, CORRECTIONS, AND UPDATES</h2>
						
						<p>You may request to review, correct, update, suppress, remove, or otherwise modify any of your Personal Information that you have previously provided to us through the Website. You have the ability to update your Personal Information by contacting customer-care@mygoldira.us. You have the right to data portability for the information you provide to us. You can request to obtain a copy of your Personal Information in a commonly used electronic format so that you can manage and move it.</p>
						
						<p>In certain circumstances, you have the right: &ndash; To access and receive a copy of the Personal Information we hold about you; &ndash; To rectify any Personal Information held about you that is inaccurate; &ndash; To request the deletion of Personal Information held about you.</p>
						
						<p>Please note that you may be asked to verify your identity before receiving a response to such requests. Please be aware that if you delete your Personal Information, you may not be able to continue to use our Services. Please note that if you request that we delete your Personal Information, we may in our sole discretion retain certain information, including your Personal Information, to satisfy our legal, audit and/or dispute resolution requirements. We may also retain your non-Personal Information indefinitely. If you have privacy concerns regarding access to or the correction of your Personal Information, please contact us at customer-care@mygoldira.us</p>
						
						<p>In your request, please make clear what Personal Information you would like to have changed, whether you would like to have your Personal Information that you have provided to us suppressed from our database or otherwise let us know what limitations you would like to put on our use of your Personal Information that you have provided to us.</p>
						
						<p>While the majority of questions and issues related to access can be handled quickly, complex requests may take more research and time. In such cases, issues will be addressed, or you will be contacted regarding the nature of the problem and appropriate next steps, within thirty days.</p>
						
						<h2> RETENTION AND DELETION</h2>
						
						<p>We will retain your Personal Information for as long as your account is active; as needed to provide you the Services; as needed for the purposes outlined in this Policy or at the time of collection; as necessary to comply with our legal obligations (e.g., to honor opt-outs), resolve disputes, and enforce our agreements; or to the extent permitted by law.</p>
						
						<p>At the end of the retention period, we will delete your Personal Information in a manner designed to ensure that it cannot be reconstructed or read.</p>
						
						<h2> ADVERTISING AND THIRD-PARTY WEBSITES</h2>
						
						<p>The Services may contain links to websites and services provided by third parties. Any personally identifiable information you provide on third party sites or services is provided directly to that third party and is subject to that third party&rsquo;s policies, if any, governing privacy and security. We are not responsible for the content or privacy and security practices and policies of third party sites or services. You should read the third parties&rsquo; privacy policies before providing them with your personally identifiable information.</p>
						
						<h2> SECURITY</h2>
						
						<p>The security of your Personal Information is very important to us. We use commercially reasonable physical, electronic, and administrative safeguards that are designed to protect your Personal Information from loss, misuse and unauthorized access, disclosure, alteration and destruction. We cannot, however, ensure or warrant the security of any information you transmit to us, and your transfer of your Personal Information to us is at your own risk.</p>
						
						<p>In the event that your Personal Information is acquired, or is reasonably believed to have been acquired, by an unauthorized person and applicable law requires notification, we will notify you by e-mail, fax, or U.S. mail. We will give you notice promptly, consistent with the reasonable needs of law enforcement and our company to determine the scope of the breach and to investigate and restore the integrity of the data system.</p>
						
						<h2> CROSS-BORDER TRANSFERS AND INTERNATIONAL USERS</h2>
						
						<p>This Policy is intended to cover only customers and other users residing in the United States. If you are outside of the United States, by visiting our Website and by providing us with your Personal Information or data, you acknowledge and agree that we may use the Personal Information or data collected in the course of our relationship for the purposes identified in this Privacy Policy or in our other communications with you, including the transmission of information outside your resident jurisdiction. In addition, please understand that such Personal Information and data may be stored on servers located in the United States. By providing us with your Personal Information or data, you consent to the transfer of your Personal Information and other data to our servers, which may be located anywhere in the world. Personal Information may be transferred, accessed and stored globally as necessary in accordance with this Policy.</p>
						
						<h2> MINORS</h2>
						
						<p>Our Services are not directed to minors, we do not market to minors, and we do not knowingly collect Personal Information from anyone under the age of 18. If you believe that we have mistakenly or unintentionally collected Personal Information of a minor without appropriate consent, please notify us so that we may immediately delete the information from our servers and make any other necessary corrections.</p>
						
						<h2> DISPUTE RESOLUTION</h2>
						
						<p>You have the right to lodge complaints about the data processing activities carried out by us before the competent data protection authorities. If you have any complaints regarding our compliance with this Policy, you should first contact us at customer-care@mygoldira.us. We will investigate and attempt to resolve complaints and disputes regarding use and disclosure of Personal Information in accordance with this Policy.</p>
						
						<h2> CALIFORNIA PRIVACY RIGHTS</h2>
						
						<p>California Civil Code Section &sect; 1798.83 permits users of our Services that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an e-mail to customer-care@mygoldira.us.</p>
						
						<p>Customers in the state of California may request a list of categorized third parties and in some cases affiliates to whom we may have disclosed their personal information specifically for those third parties&rsquo; and/or affiliates&rsquo; own marketing purposes, as well as the type of personal information disclosed to those parties. My Gold IRA does not disclose your personal information to third parties or affiliates for those third parties&rsquo; or affiliates&rsquo; own marketing purposes. If you are a California resident and would like to more information about our compliance with this law, please email customer-care@mygoldira.us. You must include your name, street address, city, state, and ZIP code. Please note that we are not required to respond to requests made by means other than through the provided address listed.</p>
						
						<h2>Right to Know and Delete</h2>
						
						<p>Consumers who are California residents (and not representatives of businesses, whether those businesses are our customers or others) have the right to know certain information about our data practices in the preceding 12 months. In particular, they have the right to request the following from us:</p>
						
						<p>- The categories of personal information we have collected about them - The categories of sources from which the personal information was collected - The categories of personal information about them that we disclosed for a business purpose or sold - The categories of third parties to whom the personal information was disclosed for a business purpose or sold - The business or commercial purpose for collecting or selling the personal information. In addition, in certain circumstances California consumers have the right to delete the personal information we have collected from them.</p>
						
						<p>To exercise any of these rights, California consumers should submit a request by email at customer-care@mygoldira.us. You must include your name, street address, city, state, and ZIP code. Please note that we are not required to respond to requests made by means other than those provided. In the request, please specify which right you are seeking to exercise and the scope of the request. We will confirm receipt of your request within 10 days. We may require specific information from you to help us verify your identity and process your request. If we are unable to verify your identity, we may deny your requests to know or delete.</p>
						
						<h2>Do Not Sell My Personal Information</h2>
						
						<p>To the extent My Gold IRA sells your personal information as the term &ldquo;sell&rdquo; is defined under the California Consumer Privacy Act, you have the right to opt-out of the sale of your personal information by us to third parties at any time. You may submit a request to opt-out by email at customer-care@mygoldira.us. You must include your name, street address, city, state, and ZIP code. Please note that we are not required to respond to requests made by means other than through the provided.</p>
						
						<h2>Right to Request Accessible Alternative Format</h2>
						
						<p>The Do Not Sell My Information and this Notice have been designed to be accessible for blind and visually-impaired users and to allow for user interaction on such web form. If you experience any difficulties accessing this information, please email us at customer-care@mygoldira.us.</p>
						
						<h2>Right to Non-Discrimination</h2>
						
						<p>You have the right not to receive discriminatory treatment by us for the exercise of any of your rights.</p>
						
						<h2>Categories of personal information we collect</h2>
						
						<p>We collect information that identifies, relates to, describes, references, is reasonably capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular California consumer or household. In particular, we have collected one or more data types from the following categories of personal information from consumers within the twelve months preceding the effective date of this Privacy Notice:</p>
						
					  </div>
				</div>
			</section>
			</div>
			
			
			
			
			
					
					
					
					
			<Footer />
		</div>
	
		
	</main>
</Layout>

<style>

.bodyclass {
			padding:20px;
		}

		.bodyclass h2 {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.width-max {
			width: 100vw!important;
			max-width: 900px;
			margin: auto;
		}
		@media (min-width: 220px) and (max-width: 700px) {
			.width-max {
			font-size: 1.0rem!important;
		}
		}
		.main-container {
		font-weight: 500!important;
	}
	.main-container p {
		padding: 15px 0px;
	}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

</style>
