<section id="footer" data-id="" class="section-blank " style="font-weight:600;">
    <div id="" class="layout-media">
      <div class="layout-media-image lazyload" style="background-image:url();"></div>
      <div class="layout-media-video"></div>
    </div>
    <div class="layout-content layout-content" style="background:rgba(195,139, 85, 1);padding-top:50px;padding-left:0px;padding-bottom:50px;padding-right:0px;">
      <div class="container ">
        <div class="row">
          <div class="">
            <div class="c">
              <ul class="flex justify-center space-around px-10" style="width:100vw!important;">
                <li class="footer-links " style="color: #ffd3a3; font-weight:500;">
                  <a href="/" target="">Home</a>
                </li>
                <li class="footer-links" style="color: #ffd3a3; font-weight:500;">
                  <a href="/about" target="">About</a>
                </li>
                <li class="footer-links" style="color: #ffd3a3; font-weight:500;">
                  <a href="/contact" target="">Contact</a>
                </li>
                <li class="footer-links" style="color: #ffd3a3; font-weight:500; ">
                  <a href="/privacy" target="">Privacy</a>
                </li>
              </ul>
              <p class="text-sm text-center" style=" padding-top:30px;width:100vw!important;">
                <span style="color: #ffd3a3; font-weight:300;">&copy; 2023 My Gold IRA</span>
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="col-box">
              <div class="col-box-content ap-BymFu_uVsE">
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>