<section class="text-gray-600 body-font relative ml-1 mr-1 mt-10 pt-10">
    <form name='myForm' method="GET" id="myForm" autocomplete="off">
      <!-- <input type="hidden" id="leadSource" name="leadSource" value="mygoldira-us-fb-vid-1"> -->
      <div class="  mt-10  mx-auto flex" style="">
        <div id="formContainer" class=" bg-[var(--formcolor)]   rounded-lg p-4 flex flex-col  relative z-10 shadow-md">
          <h2 class="headline unselectable">Get Your<br class="break-subheadline" style="display:none;"/>&nbsp;Gold IRA kit</h2>
          <p class="unselectable" id="subsub-headline">+ FREE specialist consultation</p>
          <div class="relative mb-4">
            <label for="firstname" class="leading-7 text-sm text-gray-600 unselectable">Your First Name</label>
            <input value="" type="text" pattern="..+" required id="firstname" name="firstname" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500 focus:ring-3 focus:ring-yellow-200  text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <span class="validity"></span>
          </div>
          <div class="relative mb-4">
            <label for="lastname" class="leading-7 text-sm text-gray-600 unselectable">Your Last Name</label>
            <input value="" type="text" pattern="..+" required id="lastname" name="lastname" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500 focus:ring-3 focus:ring-yellow-200  text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <span class="validity"></span>
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600 unselectable">Your Email</label>
            <input value="" type="email" pattern="..+@..+\...+" required id="email" name="email" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500  focus:ring-3 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <span class="validity"></span>
          </div>
          <div class="relative mb-4">
            <label for="phone" class="leading-7 text-sm text-gray-600 unselectable">Your Phone <span class="form-instructions unselectable">(10 digits)</span>
            </label>
            <input value="" type="tel" pattern="[0-9]{10}" minlength="10" maxlength="10" required id="phone" name="phone" class="w-full  border-2 border-[var(--bordercolor)] focus:border-yellow-500  focus:ring-3 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <span class="validity"></span>
          </div>
          <div class="checkbox-container " style=" ">
            <input type="checkbox" id="i-have-ira" name="ihaveira" class=" text-gray-700  checkbox" style="width:50px!important;">
            <label for="ihaveira" class="checkbox-label  text-gray-600 unselectable" style=" ">I have an IRA worth $100k or more</label>
          </div>
          <div class="  checkbox-container" style=" ">
            <input type="checkbox" id="i-have-401" name="ihave401" class="checkbox" style="">
            <label for="ihave401" class="checkbox-label  unselectable">I have $100k+ in 401k (past employer)</label>
          </div>
          <!-- <div class="  checkbox-container" style=" "><input  checked type="checkbox" id="i-have-401" name="otp" class="   checkbox" style="   "><label  for="otp" class="checkbox-label   unselectable" style="">I agree to receive SMS for One-Time Passwords</label></div> -->
          <button class="unselectable  shadow-sm shadow-gray-700/30 bg-[var(--themecolor)] border-0 mt-5 py-2 px-6 focus:outline-none hover:bg-[#333] hover:text-[#FFF] rounded-lg text-lg submit-button " id="mySubmit" type="submit" style="width: 80%;margin:auto;margin-top:10px;height:40px; color: white;">Get My Free Gold IRA Kit!</button>
        </div>
      </div>
    </form>
  </section>