<section class="text-gray-800 body-font relative ml-1 mr-1 mt-10 pt-10">
    <form name='myForm' method="GET" id="myForm" autocomplete="off">
      <!-- <input type="hidden" id="leadSource" name="leadSource" value="mygoldira-us-fb-vid-1"> -->
      <div class="  mt-10  mx-auto flex" style="">
        <div id="formContainer" class="    rounded-lg p-4 flex flex-col  relative z-10 shadow-md">

          <div style="">
            <h2 class="tracking-tight goldtext text-center" id="form-headline">
              Get Your FREE<br class="break-subheadline" style="display:none;"/>&nbsp;Gold IRA kit
            </h2>
            <div class="pt-1 pb-2 text-xl font-bold tracking-tight goldtext text-center">& specialist consultation</div>
          </div>
          <div class="relative mb-4">
            <label for="firstname" class="leading-7 text-sm bluetext unselectable">First Name</label>
            <input value="" type="text" pattern="..+" required id="firstname" name="firstname" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500 focus:ring-3 focus:ring-yellow-200  text-base outline-none bluetext py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <span class="validity"></span>
          </div>
          <div class="relative mb-4">
            <label for="lastname" class="leading-7 text-sm bluetext unselectable">Last Name</label>
            <input value="" type="text" pattern="..+" required id="lastname" name="lastname" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500 focus:ring-3 focus:ring-yellow-200  text-base outline-none bluetext py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <span class="validity"></span>
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm bluetext unselectable">Email</label>
            <input value="" type="email" pattern="..+@..+\...+" required id="email" name="email" class="w-full   border-2 border-[var(--bordercolor)] focus:border-yellow-500  focus:ring-3 focus:ring-yellow-200 text-base outline-none bluetext py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <span class="validity"></span>
          </div>
          <div class="relative mb-4">
            <label for="phone" class="leading-7 text-sm bluetext unselectable">Phone <span class="form-instructions unselectable">(10 digits)</span>
            </label>
            <input value="" type="tel" pattern="[0-9]{10}" minlength="10" maxlength="10" required id="phone" name="phone" class="w-full  border-2 border-[var(--bordercolor)] focus:border-yellow-500  focus:ring-3 focus:ring-yellow-200 text-base outline-none text-gray-800 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <span class="validity"></span>
          </div>
          
          <!-- start checkboxes -->
          
          <div id="checkboxes" class="">
            <div class="mb-5 text-lg font-bold tracking-tight bluetext text-left">Please select <span class="text-xs pl-3 " > (required)</span></div>
          <div class="checkbox-container " style=" ">
            <input type="checkbox" id="i-have-ira" name="ihaveira" class="checkbox" style="width:50px!important;">
            <label for="ihaveira" class="checkbox-label goldtext  unselectable" style=" ">I have an IRA worth $100k or more</label>
          </div>
          <div class="  checkbox-container" style=" ">
            <input type="checkbox" id="i-have-401" name="ihave401" class="checkbox" style="">
            <label for="ihave401" class="checkbox-label goldtext unselectable">I have a 401k worth $100k or more</label>
          </div>
           </div> <!--end checkboxes -->
           <div id="sms-box" class="hide">
            <div class="relative mb-4">
              <label for="smscode" class="leading-7 text-gray-800 unselectable" style="color: red; font-size:20px!important;">Enter SMS Text Code: </label>
              <input onclick="this.select()" value="" type="text"  pattern="\d{4}"  maxlength='4' id="smscode" name="smscode" class=" " style="padding-left:5px; color: red; font-size:20px!important; line-height:35px;">
              <span class="validity"></span>
            </div>
           </div>
          <!-- <div class="  checkbox-container" style=" "><input  checked type="checkbox" id="i-have-401" name="otp" class="   checkbox" style="   "><label  for="otp" class="checkbox-label   unselectable" style="">I agree to receive SMS for One-Time Passwords</label></div> -->
          <button class="tracking-tight unselectable mt-5 py-0 px-1 focus:outline-none rounded-lg text-lg submit-button " id="mySubmit" type="submit" style="width: 85%;margin:auto;margin-top:10px;height:40px;">Get My Free Gold IRA Kit!</button>
          <button onclick="validateSMS()" class="hide unselectable  shadow-sm shadow-gray-700/30  border-0 mt-5 py-2 px-6 focus:outline-none  hover:text-[#FFF] rounded-lg text-lg  " id="mySubmit2" type="button" style="margin:auto;margin-top:10px; color: white; background-color: green; width: 100%; font-size: 30px;height: 65px!important;">ENTER CODE</button>
        </div>
      </div>
    </form>
  </section>