<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />

<section class="bg-gray-100">
  <div
    class="mx-auto max-w-[1340px] px-4 py-16 sm:px-6 sm:py-24 lg:mr-0 lg:pl-8 lg:pr-0"
  >
    <div class="max-w-7xl items-end justify-between sm:flex sm:pr-6 lg:pr-8 pl-5">
      <h2 class=" text-4xl font-bold tracking-tight ">
        Well-Known Financial Industry Insiders Are Raising The Alarm
      </h2>

      <div class="mt-8 flex lg:mt-0">
        <button
          class="prev-button rounded-full border border-current p-3 text-orange-600 transition-colors focus:bg-orange-600 focus:text-white focus:outline-none"
        >
          <span class="sr-only">Previous Slide</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 -rotate-180 transform"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </button>

        <button
          class="next-button ml-3 rounded-full border border-current p-3 text-orange-600 focus:bg-orange-600 focus:text-white focus:outline-none"
        >
          <span class="sr-only">Next Slide</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="-mx-6 mt-8 lg:col-span-2 lg:mx-0">
      <div class="swiper-container !overflow-hidden">
        <div class="swiper-wrapper">
          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Ray Dalio"
                  src="/images/ray-dalio.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Ray Dalio
                  </h3>

                  <p class="text-lg text-gray-600">
                    Gold as an overlay on a portfolio, works like an insurance policy. It’s the only asset you could have that’s not somebody else’s liability. It is international, it can be moved and it’s tried and true. It will outperform cash.
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Bridgewater Associates<br>$235B in Assets</footer>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Jim Rickards"
                  src="/images/jim-rickards.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Jim Rickards
                  </h3>

                  <p class="text-lg text-gray-600">
                    I like gold and silver in a real severe crisis. It’s like having batteries, a flashlight and water and plywood in a hurricane. 
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Advisor to US Intelligence<br>Financial Author</footer>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Robert Kyosaki"
                  src="/images/robert-kiyosaki.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Robert Kyosaki
                  </h3>

                  <p class="text-lg text-gray-600">
                    The collapse has begun. We’re going into some very, very adverse times. This is the biggest crash we’ll ever see in our lifetime. It’s called the ‘everything bubble’.
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Author "Rich Dad, Poor Dad"<br>Investor</footer>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Jim Rogers"
                  src="/images/jim-rogers.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Jim Rogers
                  </h3>

                  <p class="text-lg text-gray-600">
                    Never has there been so much money printing by all the central banks at the same time. I’m prepared for inflation. I own some silver, I own some gold.
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Investor<br>Financial Commentator</footer>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Peter Schiff"
                  src="/images/peter-schiff.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Peter Schiff
                  </h3>

                  <p class="text-lg text-gray-600">
                    If you're getting 2% or 3% interest and inflation is 7% or 10% you’re going backwards every year and eventually you won’t be able to afford to maintain your lifestyle, especially if you retire.
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Euro Pacific Capital CEO<br>Financial Commentator</footer>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Jamie Dimon"
                  src="/images/jamie-dimon.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Jamie Dimon
                  </h3>

                  <p class="text-lg text-gray-600">
                    It’s a hurricane. We just don’t know if it’s a minor one or a superstorm. You’d better brace yourself. I think it’s ok to hope. But who the hell knows.
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >JP Morgan Chase CEO</footer>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Mike Maloney"
                  src="/images/mike-maloney.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Mike Maloney
                  </h3>

                  <p class="text-lg text-gray-600">
                    When there is a crisis, people run towards safe-haven assets. Gold and Silver are not some short term speculation. Gold & Silver to me are the best wealth insurance.
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Founder GoldSilver.com<br>Expert on Monetary History & Economics</footer>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Harry Dent Jr"
                  src="/images/harry-dent-jr.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Harry Dent Jr
                  </h3>

                  <p class="text-lg text-gray-600">
                    We’ve got this final bubble and it burst. Within a few months investors will realize this is not a correction, this is a crash. It could be a depression.
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Financial Author<br>Economist</footer>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Gerald Celente"
                  src="/images/gerald-celente.jpg"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Gerald Celente
                  </h3>

                  <p class="text-lg text-gray-600">
                    I want a safe haven asset. Buy gold now or prepare to lose everything. When they go digital, gold is going to go through the roof!
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Author of 'Trends Journal'<br>Forecaster & Commentator</footer>
            </blockquote>
          </div>

          <!-- <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center">
                <div class="mt-4">
                    <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
                  <h3 class="text-2xl font-bold text-orange-600 sm:text-3xl pb-5">
                    Ray Dalio
                  </h3>

                  <p class="text-lg text-gray-600">
                    Gold as an overlay on a portfolio, works like an insurance policy. It’s the only asset you could have that’s not somebody else’s liability. It is international, it can be moved and it’s tried and true. It will outperform cash.
                  </p>
                </div>
              </div>

              <footer class="mt-8 text-gray-500 font-bold" >Bridgewater Associates</footer>
            </blockquote>
          </div> -->


        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 32,
      autoplay: {
        delay: 6000,
      },
      navigation: {
        nextEl: '.next-button',
        prevEl: '.prev-button',
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          centeredSlides: false,
        },
        1024: {
          centeredSlides: false,
          slidesPerView: 3,
        },
      },
    })
  })
</script>
