<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" rel="stylesheet" />

<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <h2 class="text-center text-4xl font-bold tracking-tight sm:text-5xl">
      Well Known Financial Industry Insiders Say:
    </h2>

    <div class="swiper-container mt-12 !overflow-hidden">
      <div class="swiper-wrapper">
        <!-- start of slider cards -->
        <div class="swiper-slide ck">
          <blockquote class="rounded-lg bg-gray-100 p-8">
            <div class="flex items-center mb-5">
              <img
                alt="Man"
                src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="h-16 w-16 rounded-full object-cover"
              />

              <div class="ml-4">
                <p class="mt-1 text-lg font-medium text-gray-700">Ray Dalio</p>
              </div>
            </div>
            <p class=" text-gray-500">
                Gold as an overlay on a portfolio, works like an insurance policy. It’s the only asset you could have that’s not somebody else’s liability. It is international, it can be moved and it’s tried and true. It will outperform cash.
            </p>
          </blockquote>
        </div>

        <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Jim Rickards</p>
                </div>
              </div>
              <p class=" text-gray-500">
                I like gold and silver in a real severe crisis. It’s like having batteries, a flashlight and water and plywood in a hurricane. 
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Robert Kyosaki</p>
                </div>
              </div>
              <p class=" text-gray-500">
                The collapse has begun. We’re going into some very, very adverse times. This is the biggest crash we’ll ever see in our lifetime. It’s called the ‘everything bubble’.
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Jim Rogers</p>
                </div>
              </div>
              <p class=" text-gray-500">
                Never has there been so much money printing by all the central banks at the same time. I’m prepared for inflation. I own some silver, I own some gold.
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Peter Schiff</p>
                </div>
              </div>
              <p class=" text-gray-500">
                If youre getting 2% or 3% interest and inflation is 7% or 10% you’re going backwards every year and eventually you won’t be able to afford to maintain your lifestyle, especially if you retire.
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Klaus Schwab</p>
                </div>
              </div>
              <p class=" text-gray-500">
                Now is the historical moment to reshape the system. I see the need for action. I see the need for a great reset. The World Economic Forum is putting its full weight behind this initiative. You will own nothing and you will be happy.
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Jamie Dimon</p>
                </div>
              </div>
              <p class=" text-gray-500">
                It’s a hurricane. We just don’t know if it’s a minor one or a superstorm. You’d better brace yourself. I think it’s ok to hope. But who the hell knows.
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Mike Maloney</p>
                </div>
              </div>
              <p class=" text-gray-500">
                When there is a crisis, people run towards safe-haven assets. Gold and Silver are not some short term speculation. Gold & Silver to me are the best wealth insurance.
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Harry Dent Jr</p>
                </div>
              </div>
              <p class=" text-gray-500">
                We’ve got this final bubble and it burst. Within a few months investors will realize this is not a correction, this is a crash. It could be a depression.
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide ck">
            <blockquote class="rounded-lg bg-gray-100 p-8">
              <div class="flex items-center mb-5">
                <img
                  alt="Man"
                  src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                  class="h-16 w-16 rounded-full object-cover"
                />
  
                <div class="ml-4">
                  <p class="mt-1 text-lg font-medium text-gray-700">Gerald Celente</p>
                </div>
              </div>
              <p class=" text-gray-500">
                I want a safe haven asset. Buy gold now or prepare to lose everything. When they go digital, gold is going to go through the roof!
              </p>
            </blockquote>
          </div>



        <!-- end of slider cards -->
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 32,
      centeredSlides: true,
      autoplay: {
        delay: 6000,
      },
      breakpoints: {
        640: {
          slidesPerView: 1.5,
        },
        1024: {
          slidesPerView: 3,
        },
      },
    })
  })
</script>
