<p class="text-center  unselectable" style="padding-top:50px; padding-left:20px;padding-right:20px; padding-bottom:40px;color:#777; font-weight:bold;">My Gold IRA recognizes Augusta Precious Metals as the most highly customer reviewed and rated IRA custodian in the United States</p>
      <!-- logos go here -->
      <div class="mb-20 mt-10 logo-box flex mt-5 flex-wrap justify-center space-x-2 > * + * " style="">
        <div class="px-4 py-4">
          <img src="images/logo-bbb.png" loading="lazy" class="" style="height:60px">
        </div>
        <div class="px-4 py-4">
          <img src="images/logo-bca.png" loading="lazy" class="" style="height:60px">
        </div>
        <div class="px-4 py-4">
          <img src="images/logo-trustlink.png" loading="lazy" class="" style="height:60px">
        </div>
        <div class="px-4 p-4 mt-1">
          <img src="images/logo-google.png" loading="lazy" class="" style="height:50px; ">
        </div>
        <div class="px-4 py-4 mt-2">
          <img src="images/logo-fb.png" loading="lazy" class="" style="height:30px">
        </div>
        <div class="px-4 py-4">
          <img src="images/logo-nea.png" loading="lazy" class="" style="height:60px">
        </div>
        <div class="px-4 py-4">
          <img src="images/logo-ca.jpeg" loading="lazy" class="" style="height:60px">
        </div>
        <div class="px-4 py-4">
          <img src="images/logo-most-trusted.png" loading="lazy" class="" style="height:60px">
        </div>
      </div>