<section data-id="Sy9iDOViV" class="section-blank  header">
    <div id="Sy9iDOViV" class="layout-media">
      <div class="layout-media-image lazyloaded" style="background-image:url();"></div>
      <div class="layout-media-video"></div>
    </div>
    <div class="layout-content layout-content" style="background:rgba(247,247, 246, 1);padding-top:100px;padding-left:0px;padding-bottom:0px;padding-right:0px;">
      <div class="container class-Sy9iDOViV">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="col-box">
              <div class="col-box-content ap-rJMqsPdVjN">
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <h2 style="text-align:center;" class="gam-blue unselectable mobile">
                        <strong>What our customers are saying</strong>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section data-id="BkmfLuNjV" class="section-blank  header unselectable">
    <div id="BkmfLuNjV" class="layout-media">
      <div class="layout-media-image lazyloaded" style="background-image:url();"></div>
      <div class="layout-media-video"></div>
    </div>
    <div class="layout-content layout-content" style="background:rgba(247,247, 246, 1);padding-top:50px;padding-left:0px;padding-bottom:100px;padding-right:0px;">
      <div class="container class-BkmfLuNjV">
        <div class="row">
          <div class="col-xs-12 col-md-6 mb-20">
            <div class="col-box">
              <div class="col-box-content ap-rJM7M8dNsV">
                <div id="" class="customer-icon">
                  <div>
                    <img src="images/hamptons.jpg" loading="lazy" class="image-element  class-SkWWdONi4 image-width-200" style="display: block; margin: 0px auto; border-radius: 50%;">
                  </div>
                </div>
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <p style="text-align:center;">&nbsp;</p>
                      <p style="text-align:center;">
                        <i>"My Gold IRA helped me connect with</i>
                      </p>
                      <p style="text-align:center;">
                        <i>&nbsp;the right Gold IRA company. I got the right advice</i>
                      </p>
                      <p style="text-align:center;">
                        <i>&nbsp;from the right people. I couldn't be happier."</i>
                        <br>&nbsp;
                      </p>
                    </div>
                  </div>
                </div>
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <p style="text-align:center;">
                        <strong>Ben Wood</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 mb-10">
            <div class="col-box">
              <div class="col-box-content ap-H17mM8_VoN">
                <div id="" class="customer-icon">
                  <div>
                    <img src="images/margot.jpg" loading="lazy" class="image-element  class-ryJ7dOEsN image-width-20" style="display: block; margin: 0px auto; border-radius: 50%;">
                  </div>
                </div>
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <p style="text-align:center;">&nbsp;</p>
                      <p style="text-align:center;">
                        <i>"Since my husband passed, I have been</i>
                      </p>
                      <p style="text-align:center;">
                        <i>&nbsp;worried about my retirement. I now feel very confident</i>
                      </p>
                      <p style="text-align:center;">
                        <i>&nbsp;about the future with a Gold IRA."</i>
                        <br>&nbsp;
                      </p>
                    </div>
                  </div>
                </div>
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <p style="text-align:center;">
                        <strong>Nancy Lee</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row mt-10">
          <div class="col-xs-12 col-md-6 mb-20 ">
            <div class="col-box">
              <div class="col-box-content ap-rJM7M8dNsV">
                <div id="" class="customer-icon">
                  <div>
                    <img src="images/gale-masters.jpg" loading="lazy" class="image-element  class-SkWWdONi4 image-width-20" style="display: block; margin: 0px auto; border-radius: 50%;">
                  </div>
                </div>
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <p style="text-align:center;">&nbsp;</p>
                      <p style="text-align:center;">
                        <i>"I feel protected against inflation now</i>
                      </p>
                      <p style="text-align:center;">
                        <i>&nbsp;that I have 20% of my IRA invested in</i>
                      </p>
                      <p style="text-align:center;">
                        <i>&nbsp;gold and silver bullion."</i>
                        <br>&nbsp;
                      </p>
                    </div>
                  </div>
                </div>
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <p style="text-align:center;">
                        <strong>Gale Masters</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="col-box">
              <div class="col-box-content ap-H17mM8_VoN">
                <div id="" class="customer-icon">
                  <div>
                    <img src="images/michelle-grossman.jpg" loading="lazy" class="image-element  class-ryJ7dOEsN image-width-20" style="display: block; margin: 0px auto; border-radius: 50%;">
                  </div>
                </div>
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <p style="text-align:center;">&nbsp;</p>
                      <p style="text-align:center;">
                        <i>"From the get-go they helped me understand the</i>
                      </p>
                      <p style="text-align:center;">
                        <i>&nbsp; entire process and most importantly I never felt</i>
                      </p>
                      <p style="text-align:center;">
                        <i>&nbsp;like they were pressuring me for a sale."</i>
                        <br>&nbsp;
                      </p>
                    </div>
                  </div>
                </div>
                <div id="" class="">
                  <div class="ck ck-editor-project">
                    <div>
                      <p style="text-align:center;">
                        <strong>Michelle Grossman</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>