<div class="rounded-3xl mt-3" style="overflow:hidden">
  
<div id="wistia" class="" style="">
  
  
  <script client:load src="https://fast.wistia.com/embed/medias/fa6d412no0.jsonp" async></script><script client:load src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
  
  <div id="wistia-video" class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
    <div id="wistia-video" class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_fa6d412no0 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
    </div>
    <img src="/images/video-placeholder.jpg" style="width:100%;position:absolute;top:0px; z-index:1000;" id="wistia-load" class="">
</div>

</div>

</div>

  