---
export interface Props {
	title: string;
}



import Head from '../components/Head.astro';
import Tracking from '../components/Tracking.astro';
import MetaDataSEO from '../components/MetaDataSEO.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<MetaDataSEO />
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/tailwind.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
		<script client:load>
			window.clickmagick_cmc = {
				uid: '173939',
				hid: '1905123245',
				cmc_goal: 's',
				audopt_pro: 'on',
			}
		</script>
		<script client:load src='https://cdn.clkmc.com/cmc.js'></script>
		<title>MyGoldIRA Thankyou</title>
	</head>
	<body onload='getParams();'>
		<!-- <Tracking /> -->
		<slot />
		<script client:load src="/js/confirm.js"></script>
		<script client:load src="/js/jsfooter.js"></script>
	</body>
</html>

