---
export interface Props {
	title: string;
}



import Head from '../components/Head.astro';
import Tracking from '../components/Tracking.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="description" content="We help people protect their wealth through gold and silver and a self directed IRA">
		<meta name="keywords" content="gold ira, silver ira, precious metals ira, self directed ira">
		<meta property="og:title" content="MyGoldIRA">
		<meta property="og:description" content="We help people protect their wealth through gold and silver and a self directed IRA">
		<meta property="og:image" content="">
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/tailwind.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
		
		<title>MyGoldIRA</title>
	</head>
	<body onload='getParams();'>
		<!-- <Tracking /> -->
		<slot />
		<script client:load src="/js/confirm.js"></script>
		<script client:load src="/js/jsfooter.js"></script>
	</body>
</html>
<style is:global>
html { font-size: calc(0.625rem + 0.41666666666666663vw); }
@media screen and (max-width:1920px) { html { font-size: calc(0.625rem + 0.41666666666666674vw); } }
@media screen and (max-width:1440px) { html { font-size: calc(0.8126951092611863rem + 0.20811654526534862vw); } }
@media screen and (max-width:479px) { html { font-size: calc(0.7494769874476988rem + 0.8368200836820083vw); } }

</style>
